body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

footer {
    margin-top: 20px;
}

main {
    padding: 20px;
}
